[submodule "ManagedButtplugIo"]
	path = ManagedButtplugIo
	url = https://github.com/Er1807/ManagedButtplugIo
[submodule "Yggdrasil"]
	path = Yggdrasil
	url = https://github.com/TotallyWholesomeVRC/Yggdrasil.git
[submodule "TWNetCommon"]
	path = TWNetCommon
	url = https://github.com/TotallyWholesomeVRC/TWNetCommon.git
[submodule "MessagePack-CSharp"]
	path = MessagePack-CSharp
	url = https://github.com/TotallyWholesome/MessagePack-CSharp.git
